.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.n-list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}

 .n-button {

  
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #25d366;
  border-radius: 5px;
  background-color: #25d366;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.n-button:hover {
  background-color: #1da14b;
}
.n-button i {
  margin-right: 10px;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
}
